/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap");

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	font-family: "Poppins", sans-serif;
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* ----------------------------------------- */
header,
footer {
	font-size: 30px;
	padding: 50px;
	font-weight: 700;
}
.block {
	border-radius: 10px;
	box-shadow: -5px 1px 5px 0px #000;
	color: #323232;
	max-width: 435px;
	padding: 30px;
	margin: 50px 0 50px 50px;
}

.blocktitle {
	font-size: 42px;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.8px;
	margin: 0 0 20px 0;
}
.text {
	line-height: 27px;
	letter-spacing: 1.15px;
	margin: 20px 0 0 0;
}
.text p {
	margin: 0 0 20px 0;
}
.button {
	display: inline-block;
	background-color: #f78434;
	border-radius: 29px;
	padding: 17px 39px;
	margin: 20px 0 0 0;
}
.button p {
	font-weight: bold;
	line-height: 24px;
	color: #ffffff;
}

.block2 {
	max-width: 735px;
	background: #f5f6fa;
	padding: 30px 165px 0 30px;
	color: #323232;
	margin: 0 0 50px 0;
}

.block2content {
	max-width: 540px;
	padding: 40px 88px;
	background-color: #ffffff;
	text-align: center;
	border-radius: 10px;
}
.block2image {
	margin: 0 0 15px 0;
}
.block2title {
	font-weight: bold;
	font-size: 42px;
	line-height: 63px;
	letter-spacing: 0.8px;
}
.block2text {
	line-height: 27px;
	letter-spacing: 1.15px;
	margin: 0 0 25px 0;
}
.block2button {
	display: inline-block;
	padding: 17px 39px;
	font-weight: bold;
	line-height: 24px;
	color: #f78434;
}
.block3 {
	margin: 0 0 50px 50px;
	width: 350px;
	box-shadow: -5px 0px 5px 0px #000;
}
.block3image {
	width: 100%;
}

.block3content {
	color: #323232;
	padding: 30px;
	line-height: 27px;
}
.block3text {
	margin: 0 0 25px 0;
}

.block3personname {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.6px;
}
.block3territory {
	color: #58bebf;
}
.block4 {
	font-family: "HelveticaNeueCyr", sans-serif;
	margin: 0 0 40px 40px;
	max-width: 255px;
	padding: 24px 24px 60px 24px;
	background: #252525;
	border-radius: 6px;
	box-shadow: -5px 0px 5px 0px #000;
}
.block4title {
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #ffffff;
	margin: 0 0 10px 0;
}
.line {
	display: inline-block;
	width: 56px;
	border-bottom: 2px solid #34c759;
	margin: 0 0 24px 0;
}
.block4text {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
}

.block5 {
	font-size: 0;
	margin: 0 0 40px 40px;
	max-width: 350px;
	background: #252525;
	border-radius: 6px;
	box-shadow: -5px 0 3px 0px #000;
}
.mainimage {
	width: 100%;
}
.block5content {
	padding: 30px 30px 0px 30px;
	margin: 0 0 30px 0;
}
.block5title {
	font-size: 32px;
	line-height: 30px;
	color: #d9d9d9;
}
.undertitletext {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.15px;
	color: #a4a8b2;
	margin: 0 0 20px 0;
	text-transform: capitalize;
}
.block5text2 {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: #85878c;
}
.rating {
	display: inline-block;
	margin: 0 40px 30px 30px;
}
.stars {
	padding: 5px 15px 5px 5px;
}
.nount {
	display: inline-block;
	font-weight: 900;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 1.5px;
	color: #b3b3b3;
}

.block5button {
	display: inline-block;
	background: #262626;
	border: 2px solid #303030;
	border-radius: 30px;
	padding: 0 32px;
	margin: -5px 0 0 0;
	font-size: 10px;
	font-weight: 900;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
}
